<!-- <app-pie-chart></app-pie-chart> -->
<!--<app-line-chart></app-line-chart>-->

<ng-select [items]="group"
           [multiple]="true"
           class="input"
           bindLabel="name"
           bindValue="id"
           placeholder=""
           (add)="onAdd($event, 'group')"
           (remove)="onRemove($event, 'group')"
           [(ngModel)]="selectGroupId">
</ng-select>
<div>{{selectGroupId | json}}</div>
<div>{{deleteGroupId | json}}</div>
<ng-select [items]="data"
           [multiple]="true"
           class="input"
           bindLabel="name"
           bindValue="id"
           placeholder=""
           (add)="onAdd($event, 'data')"
           (remove)="onRemove($event, 'data')"
           [(ngModel)]="selectData">
</ng-select>
<div>{{selectData | json}}</div>
<div>{{deleteDataId | json}}</div>

<button class="button" (click)="click()">Add</button>
